@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "dark";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: dark; /* color of browser-provided UI */

  --color-primary: #73bf4a;
   --color-primary-focus: #5ebf40;
   --color-primary-content: #ffffff;

   --color-secondary: #f000b8;
   --color-secondary-focus: #bd0091;
   --color-secondary-content: #ffffff;

   --color-accent: #37cdbe;
   --color-accent-focus: #2ba69a;
   --color-accent-content: #ffffff;

   --color-neutral: #2a2e37;
   --color-neutral-focus: #16181d;
   --color-neutral-content: #ffffff;

   --color-base-100: #0a0a0a;
   --color-base-200: #2a2e37;
   --color-base-300: #16181d;
   --color-base-content: #ebecf0;

   --color-info: #66c7ff;
   --color-success: #87cf3a;
   --color-warning: #e1d460;
   --color-error: #ff6b6b;

   --rounded-box: 1rem;          
   --rounded-btn: .5rem;        
   --rounded-badge: 1.9rem;      

   --animation-btn: .25s;       
   --animation-input: .2s;       

   --btn-text-case: uppercase;   
   --navbar-padding: .5rem;      
   --border-btn: 1px;
}



@theme inline {
  --font-geist-sans: Zilla Slab;
  --font-google: Google Sans Code, monospace;

}


main {
  max-width: auto;
}

body {
   display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;

}

@layer base {

  h1 {
    font-size: clamp(2rem, 1.25rem + 3.5vw, 3.5rem);
  }
  h2 {
    font-size: clamp(1rem, 1rem + 2.5vw, 2rem);
  }
  h3 {
    font-size: clamp(1.5rem, 1rem + 1.8vw, 2.5rem);
  }
  h4 {
    font-size: clamp(1.25rem, 0.9rem + 1.2vw, 2rem);
  }
  h5 {
    font-size: clamp(1.1rem, 0.8rem + 0.8vw, 1.5rem);
  }
  h6 {
    font-size: clamp(1rem, 0.8rem + 0.4vw, 1.15rem);
  }
}
